<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs") %>

<body>
    <div id="container">
        <header class="budget-cal-add">
            <div id="budget">
                <h2 class="budget-appt">Budget</h2>
                <h1 id="budget-dollars">
                    <% if(profile) { %>
                       
                     
                        <p>$<%= user.budget%></p>
                        
                        <% } %>
                </h1>
            </form>
            </div>    
            <div id="appointment">
                <h2 class="budget-appt">Next Appointment</h2>
                <h1 id="appt-day">
                    <% if(profile) { %>
                       
                     
                        <p><%= user.appointment%></p>
                        
                        <% } %>
                </h1>
            </div>
                <div>
                    <a href="/tattooly/new"><button id="add-btn">+ Add a Tattoo</button></a>
                </div>
        </header>

        <aside>
            <div class="app-name">
                <h1 class="logo">Tattooly</h1>
            </div>

            <div class="profile">
               
                    <% if(profile) { %>
                    <div class="profile-photo">
                    <img src="<%=user.profilePicture%>" alt="tim">
                    <p id="username"><%= user.username%></p>
                    <p id="displayName">@<%=user.displayName%></p>
                    </div>
                    <% } %>
            
            </div>
            <div class="profile-menu">
                <div class="profile-artists">Artists</div>
                <div class="profile-calendar">
                    <button onclick="the_thing.showModal()" class="calendar-btn">Edit Calendar</button>
                    <dialog id="the_thing">
                        <%- include("../user/editcalendar.ejs") %>
              
                    </dialog>
                </div>
                <div class="profile-budget">
                    <button onclick="the_thing2.showModal()" class="budget-btn">Edit Budget</button>
                    <dialog id="the_thing2">
                        <%- include("../user/editbudget.ejs") %>
                    
                    </dialog>
                </div>
                <a href="/user/<%= user._id %>/edit"><button id="settings-btn">Settings</button></a>
                <div class="profile-logout"><a href="/user/logout"><button id="logout-btn">Logout</button></a></div>
            </div>
        </aside>

        <section class="art-container">
            <% for (tattoo of tattoos) { %>
            
            <div>
                <div class="index-bento">
                    <a href="/tattooly/<%= tattoo._id %>">
                    <img src="<%=tattoo.image%>" alt="<%= tattoo.description %>"> <!-- Think more through in the future-->
                    <p class="index-description"><%= tattoo.description %></p>
                    <p class="index-date"><%= tattoo.uploadDate %></p>
                </div>
                </a>
            </div>
            
            <% } %>
        </section>
    </div>
</body>
</html>