<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
   
    <main>
      <div>
        <a href="/tattooly/"><button>Back to Main</button></a>
        <article>
          <img src="<%= tattoo.image %> " alt="tattoo photo">
          <h2><%= tattoo.description %></h2>
          <h3><%= tattoo.uploadDate %>/h3>
          <a href="/tattooly/<%= tattoo._id %>/edit"><button>Edit</button></a>
          <form action="/tattooly/<%= tattoo._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
          </form>
        </article>

      </div>
    </main>
  </body>
</html>